*{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.darkMode {
    background-color: #000;
    color: white;
    transition: background-color 1s;
}

.lightMode {
    background-color: #fff;
    color: black;
    transition: background-color 1s;
}

.game{
    width: 500px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
    /* background-image: url(../images/jungle.png); */
}

#character{
    width: 190px;
    height: 50px;
    background-image: url("/images/level0/reptile2.gif");
    background-size: contain;
    background-repeat: no-repeat;
    /* background-color: red; */
    position: relative;
    top: 150px;
}
.level1  {
    background-image: url("/images/level1/dino2.gif") !important ; 
    background-size: 100px 50px !important;
}

.level2  {
    background-image: url("/images/level2/monkey.gif") !important ; 
    background-size: 50px 50px !important;
}

.animate{
    animation: jump 0.8s linear;
}
@keyframes jump {
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}

#obstacle{
    background-color: blue;
    /* background-image: url("/images/level0/obstacle.png"); */
    width: 20px;
    height: 50px;
    position: relative;
    top: 130px;
    left: 500px;
    animation: obstacle 1s linear infinite;
}

@keyframes obstacle {
    0% {left: 500px;}
    100% {left: -20px;}
}

p{
    text-align: center;
}

#gameOverScreen{
    display: none;
}

.eraInfoScreen{
    display: flex;
    margin: auto;
    width: 800px;
    height:100px;
    border: 1px solid black;
}