*{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.game{
    width: 500px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
}

#character{
    width: 50px;
    height: 50px;
    background-image: url("images/level0/frame.png");
    background-size: contain;
    /* background-color: red; */
    position: relative;
    top: 150px;
}

.level0{
    background-image: url("images/level0/eyebot.png") !important ; 
}

.animate{
    animation: jump 0.8s linear;
}

@keyframes jump {
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}

#obstacle{
    background-color: blue;
    width: 20px;
    height: 20px;
    position: relative;
    top: 130px;
    left: 500px;
    animation: obstacle 1s linear infinite;
}

@keyframes obstacle {
    0% {left: 500px;}
    100% {left: -20px;}
}

p{
    text-align: center;
}

#gameOverScreen{
    display: none;
}

.eraInfoScreen{
    display: flex;
    margin: auto;
    width: 800px;
    height:100px;
    border: 1px solid black;
}